<div>

  <img src="<%= @story.image_url %>" alt="<%= @story.id %> picture" width="450" border="2">

  <p><%= @story.description %></p>


  <iframe
    width="450"
    height="250"
    frameborder="0" style="border:0"
    target="_self"
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyDQKXO9f-HxA4jXlT9n3oeicfffba4oM30&origin=Peticoat+Lane&destination=Spitalfields+Market&avoid=tolls|highways&mode=walking" allowfullscreen>
</iframe>
<!-- we need to change the origin and the destination to our locations -->

  
  <p>
    <% @story.choices.each do |choice| %>
      <form method="get" action="/story/<%=choice.next_story_id%>">
        <button type="submit"><%= choice.description %></button>
      </form>
    <% end %>
  </p>  
  
</div>
